<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="aspnetcore-runtimepackagestore" />
  <package id="calibre" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="dbeaver" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.1" />
  <package id="dotnet4.7.1" />
  <package id="dotnetcore-sdk" />
  <package id="dotnetcore-windowshosting" />
  <package id="dotnetfx" />
  <package id="evernote" />
  <package id="exiftool" />
  <package id="exiftoolgui" />
  <package id="ffmpeg" />
  <package id="fiddler" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git-fork" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="gpg4win-vanilla" />
  <package id="gpmdp" />
  <package id="greenshot" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="KB2533623" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="keepassxc" />
  <package id="kindle" />
  <package id="meld" />
  <package id="memurai-developer" />
  <package id="microsoftazurestorageexplorer" />
  <package id="mysql-cli" />
  <package id="notable" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="openjdk" />
  <package id="openssl" />
  <package id="pdfsam" />
  <package id="postman" />
  <package id="pritunl-client" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="redis-64" />
  <package id="redis-desktop-manager" />
  <package id="scrcpy" />
  <package id="screentogif" />
  <package id="servicebusexplorer" />
  <package id="slack" />
  <package id="sql-server-management-studio" />
  <package id="sumatrapdf.install" />
  <package id="tusk" />
  <package id="tusk.install" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vcxsrv" />
  <package id="visualstudio-installer" />
  <package id="visualstudio2019community" />
  <package id="vlc" />
  <package id="vnc-viewer" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="zoom" />
</packages>